<h2>Kdy napsal Bohumil Šedivý svou žádost?</h2>

<p>Druhá republika (1938–1939), krátké období trvající od přijetí mnichovské dohody do okupace zbytku Československa, byla charakteristická odklonem od demokratického parlamentního systému první republiky (1918–1938) a vytvořením autoritativního nacionalistického politického systému. Nový zmenšený stát měl být státem národním a bez menšin – vždyť ta německá přispěla k rozbití první republiky. Židé a Romové byli v této době stále více vylučováni ze společnosti.</p>

<p>Již během prvních dnů po přijetí mnichovské dohody se v médiích a veřejném prostoru začaly objevovat antisemitské útoky. Židé byli obviňováni z oslabování českého národa a spojování se s jeho nepřáteli. Nová vláda Rudolfa Berana připravila první protižidovské zákony. Ve stejnou dobu byli Židé vylučováni z profesních sdružení lékařů a právníků – tyto kroky navazovaly na požadavky antisemitské části studentů, která se již za první republiky vymezovala vůči židovské profesní konkurenci.</p>

<p>Z nacisty obsazeného pohraničí odešlo do vnitrozemí kolem dvou set tisíc uprchlíků – mezi nimi zhruba dvacet tisíc Židů. Nově založený státní Ústav pro péči o uprchlíky měřil různým etnickým skupinám různým metrem. Zatímco pro české uprchlíky zajišťoval ubytování, sociální a zdravotní péči a snažil se je co nejrychleji znovuzačlenit do společnosti, od židovských a německých uprchlíků se očekávalo, že se vystěhují do jiné země. Mnoho židovských rodin v této atmosféře poprvé začne uvažovat o opuštění svých domovů a vystěhování. To však bylo stále obtížnější – židovští uprchlíci naráželi na zavřené hranice, obtížně sháněli víza a odjezd jim ztěžovala také omezení týkající se vývozu majetku.</p>

<p><small>autor: Michal Frankl, historik</small></p>
